<!DOCTYPE html>
<html>
<head>
    <title>Account Deletion Notice</title>
</head>
<body>
    <h1>Dear <%= name %>,</h1>
    <p>Your account has been deleted by an administrator.</p>
    <p>If you believe this was a mistake, please contact support.</p>
    <p>Best regards,</p>
    <p>The Admin Team</p>
</body>
</html>
